@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,200;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/12.jpg);
    background-size:contain;
}

html{
    font-size: 10px;
    font-family: 'IBM Plex Serif', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size: 4rem;
    font-weight: 500;
    color: gold;
    margin-bottom: 10px;
    margin-top: 110px;
    text-transform: uppercase;
    letter-spacing: 0,2rem;
    text-align: center;
    
    
}
/* Seção de apresentação*/

#presentation{
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: top center;
    position:relative;
    z-index: 2;
}
#presentation h1 {
    display: flex;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;  
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid gold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 40px;
    transition: .7s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color:white;
    font-weight: 500;
    background-color: gold;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%; 
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}


#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* Seção do portfólio */

#portfolio{
    min-height: 100vh;   
}

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}

#portfolio .portfolioHeader h1{
    margin-top: 90px;
    margin-bottom: 100px;
}
#portfolio .projectInfo h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
}
#portfolio .projectInfo p{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 200;
    color: white;
    margin-top: 30px;
    
}
.box-project{   
    height: fit-content;
    width: fit-content;
    display: block;
    transition: 0.7s ease transform;
}
.box-project:hover{
    transform: scale(1.02);
}

#portfolio .voltar-topo{
    border: 0;
    display: flex;
    position: fixed;
    color:gold;
    width: 42px;
    height: 45px;
    padding-top: 7px;
    font-size: 7rem;
    align-items: center;
    bottom: 10%; 
    left: 90%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.5;
    z-index: 1;
    transition: 0.7s ease transform;

}

.voltar-topo:hover{
    transform: scale(1.2);
}

/*keyframes*/

@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_name{
    100%{
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 2%;
    }
  
    to {
      margin-left: 4.5%;
    }
  }
  
@keyframes slidein2 {
    from {
        margin-left: 0.5%;
    }
  
    to {
      margin-left: 3%;
    }
  }


.eva{
    margin-top: 15px;
    height: 50px;
    width: 40px;
    animation-duration: 5s;
    animation-name: slidein ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 0.5s ease transform;
    
}
.eva:hover{
    transform: scale(1.4);
}

.contactIcon{
    color: white;
    font-size: 1.2rem;
    animation-duration: 5s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .box-filme{
    
      height: 500px;
    
  }

.portfolioCarousel{
    margin: 10px;

}
.box-project{   
    height:fit-content;
     width: fit-content;
     display: block;
 }

 .tecnologiaIcon{
    padding: 10px 30px;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 1.5px solid white;
    margin-top: 70px;
    transition: .7s ease;
    transition-property: background-color, color;
}
.tecnologiaIcon:hover{
    background-color: white;
    color:black;
    
}

.box-icon{
    width: 100%;
    height: 100px;
    
}
.box-icon:hover{
    transform: scale(1.2);
    transition: 0.8s ease transform;

      
}
.tecnologiacontainer{
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position:relative;

    
}
.tecTitle{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 2.7rem;
    font-weight: 500;

}
.tecTitle2{
    color: white;
    text-align: center;
    margin-top: 60px;
    font-size: 2.7rem;
    font-weight: 500;
}


.aboutHeader{
    margin-bottom: -60px;
}
.aboutContainer{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    margin-top: 50px;
    align-items: center;
}

.aboutImg:hover{
    transform: scale(1.04);
    transition: 3s ease transform;
}
.aboutText p{
    font-size: 2.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: white;
    text-align:center;
    inline-size: 400px;  
    
}
.aboutText h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.8rem;
    position: relative;
    color: white;
}

.aboutText h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.3rem;
    text-align: center;
    color: purple;
    animation: text_reveal_name 10s  infinite;
}

.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-25px;
    background-color: rgb(33, 33, 34);  
}
.footerItem{
    display: inline-block;
    padding: 10px 30px;
    font-size: 1rem;
    text-align: center;
    color: purple;
    animation: text_reveal_name 10s  infinite;
    
    
    
}
.footer-icon{
    width: 35px;
    margin: 10px;
    
    
}
.footer-icon:hover{
    transform: scale(1.2);
    transition: 0.5s ease transform;
}

#ano{
    font-size: 1.5rem;
    margin-top: 103px;
    color: rgb(88, 182, 245);
    animation: text_reveal_name 10s  infinite;
}

@media  screen and (max-width:788px){
    #Tecnologias .tecnologiacontainer{
        flex-direction: column;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
}